a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    text-shadow: 4px 4px 5px #0005;
}
.contenedor {
    display: grid;
    grid-template: auto auto auto auto auto auto/ auto;
    grid-template-areas:
        "header"
        "nav"
        "subtitle"
        "article"
        "mapa"
        "footer" ;


}

    
.header {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-area: header;
    background-color: #FED049;
    background: linear-gradient(90deg, rgba(254, 208, 73, 1) 0%, rgba(185, 140, 8, 1) 100%);
    align-items: center;

}

.header-title {
    font-family: 'Zeyada', cursive;
    font-size: 130px;
    text-align: center;
}

.nav {

    align-items: center;
    grid-area: nav;
    list-style: none;
    background-color: #CFFDE1;
    margin-top: 5px;

}

.text {
    opacity: 0;

}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 5px;
}

.nav-it {
    text-decoration: none;
    padding: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    text-align: center;


}

.nav-it:hover .text {
    opacity: 1;
}

.abrir-menu {
    background-color: #CFFDE1;
    border: 0;
    display: none;

}

.cerrar-menu {
    background-color: #CFFDE1;
    border: 0;
    display: none;

}

.subtitle {
    grid-area: subtitle;
    font-size: xx-large;
    background-color: #68B984;
    font-family: 'Cabin', sans-serif;
    text-align: left;
    line-height: 120%;
    text-shadow: 4px 4px 5px #fff;
    margin-top: 5px;
    padding-left: 20px;

}
.subtitle p{
    font-size: x-large;
    color: #000000;
    text-shadow: none;
}
/*.section {
    grid-area: section;
    background-color: #56c4f7;
    padding: 10px;
    margin-top: 5px;
    justify-content:center;
    text-align: center;
    font-size: larger;

}*/
.mapa{
    grid-area: mapa;
    background-color:#CFFDE1;
    padding: 10px;
    margin-top: 5px;
    justify-content:center;
    text-align: center;
    font-size: larger
}
iframe{
    box-shadow:  4px 4px 5px #000000;
    width: 90%;
    height:;
}



.article {
    display: grid;
    grid-template-columns: auto auto;
    grid-area: article;
    padding: 10px;
    margin-top: 5px;
    background-color: #3D5656;
}

.nota {
    font-family: 'Cabin', sans-serif;
    text-align: justify;
    background-color: #68B984;
    padding: 6px;
    margin: 6px;
    border-radius: 1%;
    font-size:large;
    box-shadow: 
        inset 0 -3em 3em rgba(0,0,0,0.1);
    }


.img-nota-left {
        float: left; 
        padding: 10px; 
        border-radius: 7%;
        
    
}
.img-nota-right {
    float: right; 
    padding: 10px; 
    border-radius: 7%;

}
.footer {
    grid-area: footer;
    background-color: #FED049;
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;

}

.footer-it {
    padding: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    text-align: center;


}
/*de aqui en adelante codigo para hacer la pagina responsiva*/
@media screen and (max-width:992px) {
    .titulo{
        display: grid;
        grid-area: titulo;
        background: linear-gradient(90deg, rgba(254,208,73,1) 0%, rgba(185,140,8,1) 100%);
        font-family: 'Zeyada', cursive;
        font-size: 70px;
        padding: 10px;
        text-align: right;
        line-height: 120%;
        text-shadow: 4px 4px 5px #0005;
        margin: 5px;
        grid-template-columns: 30% 70%;
       
    }
    .abrir-menu {
        display: block;
        right: 0;
        align-items: end;
    }

    .cerrar-menu.visible {
        display: block;
    }

    .abrir-menu.invisible {
        display: none;
    }

    .nav {

        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .nav-list {
        display: none;
    }

    .nav-list.visible {
        display: block;
        flex-direction: column;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
    }
    

    .article {
        display: grid;
        grid-template-columns: auto;
        grid-area: article;
        background-color: #3D5656;
        padding: 10px;
        margin-top: 5px;
    }
}    

@media screen and (max-width:480px) {
    .header {
        display: grid;
        grid-template-columns: 0% 100%;
        grid-area: header;
        background-color: #FED049;
        background: linear-gradient(90deg, rgba(254, 208, 73, 1) 0%, rgba(185, 140, 8, 1) 100%);
    
    }

    .header-logo {
        display: none;
    }
    .nav {
        display: grid;
        grid-template: auto auto auto auto / auto auto;
        grid-area: nav;
        background-color: #CFFDE1;
        margin-top: 5px;
    
    }

    .article {
        display: grid;
        grid-template-columns: auto;
        grid-area: article;
        background-color: #3D5656;
        padding: 10px;
        margin-top: 5px;
    }

    .img-nota-left {
        width: 100%;         
        border-radius: 7%;
        padding: 0;
        margin-left: auto;
        margin-right: auto
    
    
    }
    
    .img-nota-right {
        width: 100%;         
        border-radius: 7%;
        padding: 0;
        margin-left: auto;
        margin-right: auto
    
    }
}
/*.footer {
    grid-area: footer;
    background-color: #56c4f7;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
}
*/
a:link{color: #000000;}
a:hover{color:blue}
a:visited{color: #000000;}
