a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    text-shadow: 4px 4px 5px #0005;
}

.contenedor {
    display: grid;
    grid-template: auto auto auto auto auto auto/ 35% 30% 35%;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "subtitle subtitle subtitle"
        "article1 article1 article3"
        "article4 article2 article2"
        "footer footer footer"


}

.header {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-area: header;
    background-color: #FED049;
    background: linear-gradient(90deg, rgba(254, 208, 73, 1) 0%, rgba(185, 140, 8, 1) 100%);
    align-items: center;

}

.header-title {
    font-family: 'Zeyada', cursive;
    font-size: 130px;
    text-align: center;
}

.nav {

    align-items: center;
    grid-area: nav;
    list-style: none;
    background-color: #CFFDE1;
    margin-top: 5px;

}

.text {
    opacity: 0;

}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 5px;
}

.nav-it {
    text-decoration: none;
    padding: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    text-align: center;


}

.nav-it:hover .text {
    opacity: 1;
}

.abrir-menu {
    background-color: #CFFDE1;
    border: 0;
    display: none;

}

.cerrar-menu {
    background-color: #CFFDE1;
    border: 0;
    display: none;

}

.subtitle {
    grid-area: subtitle;
    font-size: xx-large;
    background-color: #68B984;
    font-family: 'Cabin', sans-serif;
    text-align: left;
    line-height: 120%;
    text-shadow: 4px 4px 5px #fff;
    margin-top: 5px;
    padding-left: 20px;

}

.article1 {
    grid-area: article1;
    font-family: 'Cabin', sans-serif;
    text-align: justify;
    color: white;
    background-color: #3D5656;
    padding: 5px;
    margin: 5px;
    border-radius: 0%;

}

.article2 {
    grid-area: article2;
    font-family: 'Cabin', sans-serif;
    text-align: justify;
    color: white;
    background-color: #3D5656;
    padding: 10px;
    margin: 5px;
}

.article3 {
    grid-area: article3;
    font-family: 'Cabin', sans-serif;
    text-align: justify;
    color: white;
    background-color: #3D5656;
    padding: 10px;
    margin: 5px;
}

.article4 {
    grid-area: article4;
    font-family: 'Cabin', sans-serif;
    text-align: justify;
    color: white;
    background-color: #3D5656;
    padding: 10px;
    margin: 5px;
    border-radius: 0%;
}

.img-article {
    width: 32%;
    float: left;
    padding: 10px;
    border-radius: 7%;
}

.img-side {
    width: 60%;
    float: left;
    padding: 10px;
    border-radius: 7%;
}

.footer {
    grid-area: footer;
    background-color: #FED049;
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;

}

.footer-it {
    padding: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    text-align: center;


}

@media screen and (max-width: 992px) {
    .contenedor {
        grid-template: auto auto auto auto auto/ auto;
        grid-template-areas:
            "header"
            "nav"
            "subtitle"
            "article1"
            "article2"
            "article3"
            "article4"
            "footer"
    }
    .titulo{
        display: grid;
        grid-area: titulo;
        background: linear-gradient(90deg, rgba(254,208,73,1) 0%, rgba(185,140,8,1) 100%);
        font-family: 'Zeyada', cursive;
        font-size: 70px;
        padding: 10px;
        text-align: right;
        line-height: 120%;
        text-shadow: 4px 4px 5px #0005;
        margin: 5px;
        grid-template-columns: 30% 70%;
       
    }

    .abrir-menu {
        display: block;
        right: 0;
        align-items: end;
    }

    .cerrar-menu.visible {
        display: block;
    }

    .abrir-menu.invisible {
        display: none;
    }

    .nav {

        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .nav-list {
        display: none;
    }

    .nav-list.visible {
        display: block;
        flex-direction: column;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
    }
  


    .img-article {
        width: 60%;
        border-radius: 7%;
        margin: 2%;
    }

    .img-side {
        width: 60%;
        border-radius: 7%;
        margin: 2%;
    }
}

@media screen and (max-width: 768px) {
    .contenedor {
        grid-template: auto auto auto auto auto/ auto;
        grid-template-areas:
            "header"
            "nav"
            "subtitle"
            "article1"
            "article2"
            "article3"
            "article4"
            "footer"
    }
    .titulo{
        display: grid;
        grid-area: titulo;
        background: linear-gradient(90deg, rgba(254,208,73,1) 0%, rgba(185,140,8,1) 100%);
        font-family: 'Zeyada', cursive;
        font-size: 70px;
        padding: 10px;
        text-align: right;
        line-height: 120%;
        text-shadow: 4px 4px 5px #0005;
        margin: 5px;
        grid-template-columns: 30% 70%;
       
    }

    .img-article {
        width: 100%;
        border-radius: 7%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .img-side {
        width: 100%;
        border-radius: 7%;
        padding: 0;
        margin-left: auto;
        margin-right: auto
    }
}

@media screen and (max-width: 600px) {
    .contenedor {
        grid-template: auto auto auto auto auto/ auto;
        grid-template-areas:
            "header"
            "nav"
            "subtitle"
            "article1"
            "article2"
            "article3"
            "article4"
            "footer"
    }

    .header {
        grid-area: header;
        background: #FED049;

        font-family: 'Zeyada', cursive;
        font-size: 70px;
        padding: 10px;
        text-align: center;
        line-height: 120%;
        text-shadow: 4px 4px 5px #0005;
        margin: 5px;
    }

    .img-article {
        width: 50%;
        border-radius: 100%;
        margin: 5%;
        float: right;
    }

    .img-side {
        width: 50%;
        border-radius: 100%;
        margin: 5%;
        float: right;
    }
}