
a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    text-shadow: 4px 4px 5px #0005;
}

button {
    border: none;
    background-color: #CFFDE1;
}

/**a:hover {
    background: #68B984;


}
**/
.contenedor {
    display: grid;
    grid-template: auto auto auto auto auto auto / auto auto;
    grid-template-areas:
        "header header"
        "nav nav"
        "slider slider"
        "article article"
        "section section"
        "prov prov"
        "footer footer";


}

.header {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-area: header;
    background-color: #FED049;
    background: linear-gradient(90deg, rgba(254, 208, 73, 1) 0%, rgba(185, 140, 8, 1) 100%);
    align-items: center;

}

.header-title {
    font-family: 'Zeyada', cursive;
    font-size: 130px;
    text-align: center;
}
.nav {

    align-items: center;
    grid-area: nav;
    list-style: none;
    background-color: #CFFDE1;
    margin-top: 5px;

}

.text {
    opacity: 0;

}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 5px;
}

.nav-it {
    text-decoration: none;
    padding: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    text-align: center;


}

.nav-it:hover .text {
    opacity: 1;
}

.abrir-menu {
    background-color: #CFFDE1;
    border: 0;
    display: none;

}

.cerrar-menu {
    background-color: #CFFDE1;
    border: 0;
    display: none;

}

.slider-marco {
    background-color: #3D5656;
    padding: 0;
    margin-top: 5px;
    grid-area: slider;
    width: 100%;
    height: auto;
    overflow: hidden;

}

.slider-marco ul {
    display: flex;
    width: 300%;
    padding: 0px;
    animation: slide 15s infinite;
}

.slider-marco li {
    list-style: none;
}

.img {
    width: 100%;
}

.article {
    display: grid;
    grid-template-columns: auto auto;
    grid-area: article;
    background-color: #3D5656;
    padding: 5px;
    margin-top: 5px;
}

.nota {
    font-family: 'Cabin', sans-serif;
    text-align: justify;
    background-color: #68B984;
    padding: 10px;
    margin: 10px;
    border-radius: 1%;
}

.img-nota {
    float: left;
    padding: 10px;
    border-radius: 7%;
    float: left;


}

.img-nota-right {
    float: right;
    padding: 10px;
    border-radius: 7%;

}

.section {
    grid-area: section;
    background-color: #CFFDE1;
    display: flex;
    justify-content: center;
    align-items: center;

}


 .boton {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color:#68B984;
    border: 2px solid ;
    border-radius: 14px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 35px;
    line-height: 1;
    margin: 20px;
    padding: 24px 70px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-color: #3D5656;
    color: #fff;
    box-shadow: 0 0 40px 40px #68B984 inset, 0 0 0 0 #68B984;
    -webkit-transition: all 1s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .boton:hover {
    box-shadow: 0 0 15px 0 rgba(62, 251, 81, 0.96) inset, 0 0 15px 6px rgba(44, 253, 93, 0.899);
    background-color: #fff;
    color: #3D5656;
    font-weight: bolder;
  }

  .boton:hover::selection{
    background-color: rgba(72, 113, 249, 0.832);


  }

.prov {
    grid-area: prov;
    background-color:#3D5656;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    color: #fff;
    font-size:xx-large;
    justify-content: center;
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;

}


.footer {
    grid-area: footer;
    background-color: #FED049;
    margin-top: 5px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;


}

.footer-it {
    padding: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    text-align: center;


}

.copyright {
    align-items: center;
    text-align: center;
    text-shadow:0.5px 1px 0.5px #CFFDE1
    
}


/*de aqui en adelante codigo para hacer la pagina responsiva*/
@media screen and (max-width:992px) {
    .contenedor {
        grid-template: auto auto auto auto auto/ auto;
        grid-template-areas:
        "header"
        "nav"
        "slider"
        "article"
        "section"
        "footer";

    }
    .titulo{
        display: grid;
        grid-area: titulo;
        background: linear-gradient(90deg, rgba(254,208,73,1) 0%, rgba(185,140,8,1) 100%);
        font-family: 'Zeyada', cursive;
        font-size: 70px;
        padding: 10px;
        text-align: right;
        line-height: 120%;
        text-shadow: 4px 4px 5px #0005;
        margin: 5px;
        grid-template-columns: 30% 70%;
       
    }

    .abrir-menu {
        display: block;
        right: 0;
        align-items: end;
    }

    .cerrar-menu.visible {
        display: block;
    }

    .abrir-menu.invisible {
        display: none;
    }

    .nav {

        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .nav-list {
        display: none;
    }

    .nav-list.visible {
        display: block;
        flex-direction: column;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
    }

    .article {
        display: grid;
        grid-template-columns: auto;
        grid-area: article;
        background-color: #3D5656;
        padding: 10px;
        margin-top: 5px;
    }

    .img-nota-left {
        width: 100%;
        border-radius: 7%;
        padding: 0;
        margin-left: auto;
        margin-right: auto
    }

    .img-nota-right {
        width: 100%;
        border-radius: 7%;
        padding: 0;
        margin-left: auto;
        margin-right: auto
    }

}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

}